.btn {
	padding: 8px 16px;
	border-radius: 3px;
}
	
.btn-tq {
	background: #70C2CA;
	color: #fff;
	font-family: MuseoSans-900;
	font-size: 14px;
	line-height: 20px;
}

.btn-coral {
  background: #F37D90;
  display: table;
  color: #fff;
  border: 1px solid #F37D90;
  font-family: 'Museo Sans 900';
  font-size: 14px;
  line-height: 20px;
}

.btn-tq:hover {
	color: red;
}

.h1bg, {
		color: #70C2CA;
}

.h1bg:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #70C2CA;
}


.btn-small-left {
	padding: 1rem;
	margin-bottom: 2rem;
	display: table;
}

.btn-medium-left {
	padding: 2rem;
	margin-bottom: 2rem;
	display: table;
}

.btn-large-left {
	padding: 3rem;
	margin-bottom: 2rem;
	display: table;
}

.btn-small-center {
	padding: 1rem;
	margin-bottom: 2rem;
	display: table;
}

.btn-medium-center {
	padding: 2rem;
	margin-bottom: 2rem;
	display: table;
}

.btn-large-center {
	padding: 3rem;
	margin-bottom: 2rem;
	display: table;
}


.btn-small-right {
	padding: 1rem;
	margin-bottom: 2rem;
	display: table;
}

.btn-medium-right {
	padding: 2rem;
	margin-bottom: 2rem;
	display: table;
}

.btn-large-right {
	padding: 3rem;
	margin-bottom: 2rem;
	display: table;
}

p.round-circle {
  width: 64px;
  height: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #70C2CA;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  margin: 1rem auto; }

h1.round-circle, h2.round-circle, h3.round-circle, h4.round-circle, h5.round-circle {
  width: 64px;
  height: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #70C2CA;
  color: #fff;
  font-weight: bold;
  margin: 1rem auto; }

span.round-circle {
  width: 64px;
  height: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #70C2CA;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  margin: 1rem auto; }