@media screen and (max-width: 414px)

	h1, .entry-title
		font-size: 32px

	.recent-post, .feat-post,  .hero-content, .hero-image
		width: 100% !important
		margin-bottom: 2rem

	.hero-content, .hero-image
		float: none !important

	.hero-section
		display: block !important
		padding-top: 1px !important

	.feat-post
		padding: 0px !important

	.hero-container
		padding: 0 !important

	.shop-favourite, .recent-post, .pop-post
		margin: 0.65rem auto !important

		&:first-of-type
			margin: 0.75rem auto 0.65rem !important

	.fw-row.read-blog, .fw-row.read-unknown
		padding: 1rem
		margin: 1.5rem auto

		h1
			a
				font-size: 30px

	.article-footer
		.related--post
			padding-left: 0
			padding-right: 0

	.author-sl
		flex-direction: column

		h4
			margin: 0 0 0.75rem

	.home

		.another-title
			padding: 0.5rem 0.625rem 0
			font-size: 1.575rem

		#footer-home
			margin: 0

			.lead-ebook
				display: inline
				width: 100%

				h5
					line-height: 2rem
			.soc-footer
				display: inline-flex
				width: 80%

	.fw-row.read-blog
		background: $pale-pink

	.fw-row.read-unknown
		background: $vltq

	.another-title, .recent-post-section
		margin: 0 0 1rem 0
		font-size: 24px

	.popular-post-section .pop-post
		padding: 0 0.625rem

	.has-header-share
		h4
			display: none

	.related--post
		.overlay
			top: 40%


	body
		overflow-x: hidden

	.entry-container .entry-thumbnail
		margin-bottom: 0.35rem

	.cat-title
		padding: 0.35rem 0 0.35rem




		.article-content
			width: 100% !important
			float: left




@media screen and (max-width: 460px)
	.cat-title
		//display: none // Remove category title on mobile

	.cat-container
		display: flex
		position: relative
		overflow: hidden

		img
			width: 100%
			display: block
			overflow: hidden

		.mb-cat-title
			display: block
			width: 310px
			background: $coral
			position: absolute
			top: 40px
			left: -72px

			text-align: center
			line-height: 20px
			letter-spacing: 1px
			color: #fff !important
			transform: rotate(-45deg)
			-webkit-transform: rotate(-45deg)
			z-index: 9

			h2
				color: #fff
				font-size: 17px
				padding: 17px 0 7px
				text-transform: uppercase
				text-align: center


@media screen and (max-width: 474px)
	html .page-title-container, html .cat-title-container, html .shop-title-container, html .search-title-container
		margin: 0 0 3rem 0

		.page-title
			font-size: 24px

	.archive
		.content
			padding-right: 8px
			padding-left: 8px

	#archive
		.entry-container
			margin-bottom: 0.75rem
			display: inline-flex
			justify-content: space-around
			align-items: stretch

			.entry-content,  .featured-content
				flex: 1
				width: 100%
				max-width: 100%
				height: auto
				display:
				padding: 0 0 0 12px
				display: flex
				flex-direction: column
				justify-content: flex-start

				.cat-title
					padding: 0 0 0.35rem
					line-height: 1

					a.cat-title-link
						font-size: 12px

				.read-more
					float: left
					font-size: 12px

			.entry-thumbnail, .featured-thumbnail
				//max-width: 150px
				flex: 0 0 120px
				height: auto
				padding: 0

				img
					max-width: 120px


			.entry-excerpt
				display: none

			.archive-title
				margin: 0.25rem 0 !important
				font-size: 15px


			.entry-content
				.cat-title
					.cat-title-link
						&:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7)
							display: none


					span
						display: none

		.featured-thumbnail, .featured-content
			width: 100%
			max-width: 100%
			height: auto
			display: block
			padding: 0

@media screen and (min-width: 460px) and (max-width: 640px)

	.cat--link
		margin: 0 auto

@media screen and (max-width: 480px)

	.press-container
		display: block // remove flex to stack images and test

	.press-content, .press-image
		width: 100%

	.press-image
		padding: 2rem // add padding around the press-image on mobile/ when stacked

		img
			margin: 0 auto
			display: block

	.press-content
		padding: 0 0 1rem 0rem
		text-align: center


@media screen and (max-width: 600px) // Column shortcode plugin - responsive code


	.full_width, .one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth
		clear: both
		width: 100%
		margin-left: 0
		margin-right: 0
		margin-bottom: 1em


@media screen and (max-width: 768px)

	.top-banner-ad
		display: none


	.single

		.post-details
			display: none !important

	.fw-row.branding
		display: none

	main //main padding issue to resolve.
		padding: 0px  !important

	.offer-category-title
		margin-bottom: 0px !important
		padding: 24px 0 !important


	.return-to-tips
		.return-image
			img
				margin: 0 auto
				display: block

		.return-text
			text-align: center

			p
				text-align: center

			.btn-small-left
				margin: 0 auto

	.content
		top: 0px
		position: relative
		padding: 0 8px

	.sidebar
		display: none



		.featured-content
			width: 70% !important
			display: block !important
			padding: 0px 0px 0px 35px !important
			background: #fff

			.featured-excerpt
				max-height: 80px !important
				overflow: hidden

		.featured-thumbnail
			width: 30% !important
			display: block !important

		.btn-small
			float: right

	.entry-container
		> div
			transition: ease all 0.25s



	.entry-container, .featured-container
		display: table
		margin: 0.75rem 0


		&:first-of-type
			margin: 0 0 1.5rem 0
			height: auto

		.entry-thumbnail, .featured-thumbnail
			width: 42%
			float: left
			display: flex
			max-width: 100%
			height: auto
			margin-bottom: 0rem

		.entry-content, .featured-content
			width: 58%
			float: left
			max-width: 100%
			height: auto
			padding: 8px 8px 8px 16px
			background: #fff

			.archive-title
				white-space: inherit
				max-height: 72px
				overflow: hidden

			.entry-excerpt, .featured-excerpt

				max-height: 80px !important
				overflow: hidden
				margin-bottom: 0.8rem

		.article-details

			.post-author
				display: none

			.read-more
				//width: 100%
				////background: $tq
				//border: 1px solid $tq
				color: $tq
				text-align: center
				//padding: 16px 16px
				margin-right: 0
				transition: ease all 0.25s

				&:hover
					background: #fff
					color: $tq


		.featured-footer
			width: 100%
			margin-left: inherit
			a

				width: 100%
				color: #fff
				text-align: center
				padding: 16px 16px
				margin-right: 0


@media screen and (max-width: 770px)

	#single
		.author-container
			//display: block
		.author-image
			width: 100%
			text-align: center
			padding: 0
			.avatar
				width: 200px
				margin: 0 auto 1rem
				padding: 0

		.author-content
			width: 100%
			text-align: center

		.author-description
			text-align: center

		.author-sl
			//display: flex

			h4
				text-align: center

			.s-btn
				display: block

				a
					font-size: 20px

		.post-details
			display: none

		.article-content
			width: 100%
			padding: 0

		.related--post .overlay

			top: 25%

	// Queries for the footer @ (max-width: 770px)
	.inner-footer
		nav
			li
				display: block
	#menu-top-footer-menu
		display: block

	.copyright
		padding: 8px
		line-height: 24px



@media screen and (max-width: 830px)
	.page-title-container, .cat-title-container,
	.shop-title-container, .search-title-container
		margin-bottom: 1rem

	.deals-container
		&:after
			content: ''
			display: table
			clear: both


	.deal-content
		height: 300px

	.deals-code-area .offer-code
		padding: 0.5rem

	.featured-container
		.featured-content
			padding: 1.5rem



@media screen and (max-width: 986px)

	#sidebar1
		display: none

@media screen and (max-width: 1024px)

	.page-title-container, .cat-title-container
		p
			width: 75%

	.single .inner-content
    	margin-top: 1rem

	.single
		.related--post .overlay
			top: 25%

	.header-padding
		height: 60px
		display: block
		top: 0


@media screen and (min-width: 1195px)
	.author-image,.author-content
		width: 100%

@media screen and (max-width: 1195px)
	.author-image, .author-content
		width: 100%






@media screen and (max-width: 640px)
	.related-post_wrapper
		margin: 1rem 0

		h2.recent-post-title
			font-size: 16px

		.medium-4
			padding-right: 0rem
			padding-left: 0rem
	.related-post_container
		display: inline-flex
		flex-wrap: wrap
		flex-direction: row
		flex: 0 1 auto
		padding: 8px
		margin-bottom: 1rem
		background: #f8f8f8
		border: 1px solid #EDEDED

		.related-post_img
			-ms-flex-preferred-size: 30%
			flex-basis: 30%
			max-width: 30%

			img
				max-width: 100%

		.related-post_content
			padding: 0 0 0 1rem
			-ms-flex-preferred-size: 70%
			flex-basis: 70%
			max-width: 70%