.post-author
	text-align: left
	img
		width: 32px

.avatar
	border-radius: 50%

.author-container
	display: table
	width: 100%
	border-bottom: 1px solid $light-grey
	border-top: 1px solid $light-grey
	position: relative
	padding: 24px 0
	margin-bottom: 2rem
	transition: ease all 0.2s

	.author-image
		width: 20%
		float: left
		
	.author-content
		width: 80%
		float: left


.author-image

	padding: 0 24px 0 0
	transition: ease-in-out all 0.43s
	
	.avatar
		border-radius: 50%
		width: 100%
		padding: 0
		margin: 0
		border: 2px solid $tq
		border: solid $tq
		border-radius: 100%
		transition: opacity .3s linear

.author-content
	display: block
	transition: ease all 0.3s

	.entry-title
		text-align: left

.author-description
	margin-bottom: 1.75rem
	transition: ease all 0.3s
	//display: none

.author-sl
	display: inline-flex
	align-items: center
	width: 100%
	float: left
	transition: ease all 0.3s
	

	.s-btn
		margin: 0px
		transition: ease all 0.3s

	h4
		text-align: left
		font-size: 15px
		color: $tq
		line-height: 26px
		margin: 0 1rem 0 0
	li
		padding: 0 8px

		

.archive, .category
	.entry-footer
		display: inline-block

		img, .author-name
			float: left

		.author-name
			margin-left: 0.75rem

	.post-author
		a
			&:hover
				background: #fff !important



