.related-post
	border-bottom: 1px solid $vltq
	padding-bottom: 2rem
	margin: 2rem 0

.related--post
	margin: 0.75rem 0 2rem
	position: relative

	h2
		font-size: 18px
		margin: 0


	.overlay
		padding: 16px
		height: 50px

		top: 30%




	img
		width: 100%
		margin: 0 !important
		position: relative

	a, .text
		position: relative

		&:hover
			.related--post
				opacity: 0.3

			.overlay
				opacity: 1



.related-shop, .related-offer
	margin-top: 3rem


#offer-single

	.related-offer

		padding-left: 0
		padding-right: 0

	.deals-container
		margin-bottom: 0

#shop-single

	.related-shop

		padding-left: 0
		padding-right: 0