.category-content
	width: 100%
	background: $vltq
	border: 1px solid #d9e9ea
	padding: 30px 65px
	margin-bottom: 3rem
	height: 100%
	display: inline-block

	.category-image
		width: 22.5%
		float: left
		img
			width: 190px

	.category-text
		width: 77.5%
		display: inline-block

		h1

			font-size: 40px
			color: #70C2CA
			margin: 0.45rem 0 0.75rem
			text-transform: uppercase
		p

			font-size: 20px
			line-height: 32px !important
			color: #262626
			letter-spacing: 0
			line-height: 24px

article
	width: 100%
	transition: ease all 0.25s


.first-title
	margin: 0.275rem 0 0

	a
		color: $body !important

h3.second-title
	margin: 0.25rem 0 0.75rem

//---------------------------------------------------------------------------
// Max height to entry-excerpt on repeater template
//----------------------------------------------------------------------------*/

.max-80
	max-height: 80px !important

.entry-container
	&:first-of-type
		margin: 0 0 3rem 0

.article-details
	display: inline-block
	width: 100%
	max-height: 100%
	margin-bottom: 0.75rem
	justify-content: space-between
	align-self: flex-end
	align-items: flex-end


	.post-author
		float: left
		text-align: left !important

		img
			margin: 0 !important

	.post-category
		float: right
		background: $pale-pink
		padding: 0px 8px

		p
			margin: 0
			color: #fff
			line-height: 30px

.post-author
	p
		margin: 0 !important
		display: inline-block

.read-more
	float: right
	text-transform: uppercase
	font-size: 14px
	color: $body
	font-weight: bold

	&:hover
		color: $coral












