#single
	position: relative

	.content
		img
			margin-bottom: 2rem

	.post-details

		top: 100px
		position: sticky

		.author-image
			max-width: 60px
			padding: 0
			margin: 0 auto

.single
	.post-details
		width: 11%
		float: left
		position: absolute
		top: 0
		left: 0




.entry-title
	font-size: 40px
	color: $body
	text-align: left
	margin: 0 0 0.67em

.post-social
	display: block
	margin: 0 auto
	text-align: center
	position: relative

	h4
		color: $grey
		margin: 0
		font-size: 10px

	i
		font-size: 24px
		color: $coral

.post--share


	ul
		display: block
		list-style: none
		text-align: center
		margin: 0

		li
			//margin: 8px 0px 0
			//padding: 0px 8px 0 0
			display: inline-flex


			a
				display: block
				padding: 16px
				width: 100%

.post--social
	display: none

.link-disclaimer
	color: $grey
	font-size: 12px
	font-style: italic
	line-height: 18px
	margin-bottom: 0px
	text-align: left

.article-footer
    margin-top: 4rem



.fixed
	position: fixed
	top: 0

































