#home-page
	padding: 0

.home-section
	margin: 0 auto 3rem
	display: block



.home-section_title
    text-transform: uppercase
    margin-left:  1rem
    font-size: 24px
    display: table

    &:after
        content: ''
        display: block
        height: 3px
        width: 100%
        background: $coral

.home_latest-post
	display: flex
	justify-content: stretch
	padding-left: 1rem
	margin-bottom: 2rem

	&:last-of-type
		margin-bottom: 0


.home_latest-post_img
	width: 25%

	a
		width: 240px

	img
		width: 100%

.home_latest-post_content
    width: 75%
    padding: 0 0 0 1rem

    h2, p
        margin: 0



    .cat-title
        padding: 0 0 0.35rem 0

    a.cat-title-link
        margin: 0

.home_most_recent-post
	width: 100%
	height: auto


	img
		width: 100%

	h4
		max-width: 100%
		height: 110px
		padding: 8px 0
.home_most_recent-post_content
	width: 100%
	padding: 16px 0 0

.hero-image-container
	padding-right: 15px
	display: block
	float: left
	width: 66.66667%


.hero-text-container
	display: block
	float: left
	width: 33.33333%

.hero-text
	padding: 0 0.75rem
	display: block
	height: 500px

	h3
		margin: 0

	h1
		color: $tq
		margin: 0 0 0.75rem
		font-size: 64px

	h3
		color: $body

	.btn
		margin: 1rem 0 0

h2.hero--text
	margin: 0
	font-size: 18px
	text-transform: uppercase

@media screen and (max-width: 640px)
	.home-section
		margin: 1rem auto 1rem
		display: block

		.home_most_recent-post
			padding-top: 1.75rem
			padding-bottom: 2.25rem
			margin-bottom: 0
			border-bottom: 4px solid lighten($coral, 22%)

		.home_latest-post_content
			width: 100%
			padding: 16px 0 0

		.home_latest-post
			flex-direction: column
			padding-left: 0
			width: 100%
			padding-top: 1.75rem
			padding-bottom: 1.75rem
			margin-bottom: 0
			border-bottom: 4px solid lighten($coral, 22%)

		p
			font-size: 15px
			line-height: 24px

		.home_latest-post_img
			width: 100%

			img
				width: 100%

		.home_latest-post_content
			width: 100%
			padding: 16px 0 0


		.popular_post_container, .shop-favourite_container, .related_post_container
			display: inline-flex
			flex-wrap: wrap
			flex-direction: row
			flex: 0 1 auto
			padding: 8px
			margin-bottom: 1rem
			background: #f8f8f8
			border: 1px solid #EDEDED

			.popular_post_img, .shop-favourite_img, .related-post_img
				-ms-flex-preferred-size: 30%
				flex-basis: 30%
				max-width: 30%

				img
					max-width: 100%

			.popular_post_content, .shop-favourite_content, .related_post_content
				padding: 0 0 0 1rem
				-ms-flex-preferred-size: 70%
				flex-basis: 70%
				max-width: 70%

				h2.recent-post-title
					font-size: 18px

		.archive-entry-container
            margin: 0
            padding: 0

            .archive-entry-content
                width: 100%
                padding: 16px 0 0

	#media_image-2
		display: none


.featured-articles
	padding-top: 48px

	.feat-post
		width: 33.3%
		float: left
		overflow: hidden


		&:nth-child(1)
			padding-right: 13px

		&:nth-child(2)
			padding-right: 13px
			padding-left: 13px

		&:nth-child(3)
			padding-left: 13px

		img
			width: 100%
			height: 340px
		h4
			padding: 21px 0
@media screen and (max-width: 1024px)

    .home-section_title
        margin-left:  0

    .home_latest-post
        padding-left: 0

    .home-section.first
        .columns
            padding-right: 0rem
            padding-left: 0rem

