/*

#offer-dropdown
    background: $vlight-grey
    width: 400px
    max-height: 450px
    overflow: scroll
    padding: 0

    li
        list-style: none
        display: block
        height: inherit !important
        padding: 0
        margin: 0px

        &:hover
            background: $pale-pink
            color: #fff !important

    a
        width: 100%
        height: 100%
        display: block
        color: $grey !important
        padding: 0.9rem 0.9rem !important
        postion: relative
        text-transform: uppercase
        font-size: 16px

        &:hover
            color: #fff
            text-decoration: none

//. new code

.deals-container
    display: flex
    width: 100%
    max-height: 250px
    margin-bottom: 4rem

.deals-image
    flex: 1
    max-width: 250px
    float: left
    position: relative
    overflow: hidden

    img
        flex: 1
        width: 100%
        max-width: 100%
        max-height: 420px
        z-index: 1

.the-deal
    width: 220px
    background: $tq
    position: absolute
    top: 20px
    left: -60px
    text-align: center
    line-height: 20px
    letter-spacing: 1px
    color: #fff !important
    transform: rotate(-45deg)
    -webkit-transform: rotate(-45deg)
    z-index: 9

    h2
        color: #fff
        font-size: 18px
        padding: 12px 0 5px
        text-transform: uppercase
        margin: 0.125rem 0 0.5rem

.deal-content_desktop
    display: flex
    flex-flow: row wrap
    height: 220px
    padding: 0 0 0 2rem
    flex: 1

    p
        margin: 0

    .deal-title
        width: 100%
        flex-grow: 1

        h2
            font-size: 32px
            color: $grey
            margin: 0

    .content
        flex-grow: 2

    .deal-type h4
        margin: 0
        padding: 0
        font-size: 14px
        letter-spacing: 1.5px
        font-weight: 900
        text-transform: uppercase

    .deals-code-area
        width: 100%
        display: inline-flex
        justify-content: space-between
        height: 54px

        a
            text-transform: uppercase
            padding: 16px 24px
            font-size: 18px

        .offer-code
            background: $vlight-grey
            border: 1px solid $light-grey
            padding: 18px 1.25rem
            font-size: 22px
            justify-content:
            display: flex
            flex-basis: 60%

            &:before
                content: "Use code:"
                display: inline-block
                font-size: 12px
                padding: 0 16px 0 0

            h4
                font-size: 17px
                color: $grey
                line-height: 17px
                margin: 0 !important

        .offer-link
            justify-content: flex-end
            display: flex
            flex-basis: 40%

.deals-code-page.left
    float: left

.deals-code-page.center
    margin: 0 auto

.deals-code-page.right
    float: right

.deals-code-page
    text-align: center
    max-width: 420px
    width: 100%
    display: table

    a
        font-size: 20px
        padding: 0.84rem 2rem

    .offer-code
        background: $vlight-grey
        border: 1px solid $light-grey
        padding: 1.25rem 1.25rem
        margin-bottom: 1rem
        font-size: 22px
        max-width: 100%
        display: block

        &:before
            content: "Use code:"
            display: inline-block
            font-size: 13px
            margin-top: -1rem

        h4
            font-size: 17px
            color: $grey
            display: inline-block
            margin: 0 !important

.deal-content_mobile
    display: none

@media screen and (max-width: 767px)

    .deal-content_desktop, .the-deal
        display: none

    .deal-content_mobile
        display: flex

    .deals-container
        padding: 8px
        background: #f8f8f8
        border: 1px solid #EDEDED
        margin-bottom: 1rem

        .deals-image
            display: flex
            flex-basis: 30%
            flex-grow: 0
            width: 0
        //flex: 1

        .deal-content_mobile
            padding: 0 0 0 1rem
            width: 70%

        .deal-type_title
            color: $coral
            font-size: 12px
            margin: 0
            padding: 0
        .deal-title_title
            text-transform: uppercase
            font-size: 16px
            color: #000000
            letter-spacing: 1px
            line-height: 24px

        .deal-mobile-comment_p
            padding: 0
            margin-bottom: 0 !important

        .deal-offer_title
            font-size: 24px
            color: #E48391
            letter-spacing: 0.5px
            text-align: left
            line-height: 35px

/* =================*/
/* Single offer page
/* =================*/

.single-deals_container
    display: flex
    flex-direction: row

    .the-deal
        width: 220px
        background: $tq
        position: absolute
        top: 20px
        left: -60px
        text-align: center
        line-height: 20px
        letter-spacing: 1px
        color: #fff !important
        transform: rotate(-45deg)
        -webkit-transform: rotate(-45deg)
        z-index: 9

        h2
            color: #fff
            font-size: 18px
            padding: 12px 0 5px
            text-transform: uppercase
            margin: 0.125rem 0 0.5rem

.single-deals_image
    max-height: 420px
    float: left
    position: relative
    overflow: hidden
    flex-basis: 40%
    max-width: 40%

    img
        width: 100%
        max-width: 100%

        z-index: 1

.single-deal_content_text
    margin-bottom: 2rem

.single-deal_content
    padding: 0 0 0 2rem
    flex-basis: 60%
    max-width: 60%

    .deals-code-area
        width: 100%
        display: inline-flex
        justify-content: space-between
        height: 54px

        a
            text-transform: uppercase
            padding: 16px 24px
            font-size: 18px

        .offer-code
            background: $vlight-grey
            border: 1px solid $light-grey
            padding: 18px 1.25rem
            font-size: 22px
            justify-content:
            display: flex
            flex-basis: 60%

            &:before
                content: "Use code:"
                display: inline-block
                font-size: 12px
                padding: 0 16px 0 0

            h4
                font-size: 17px
                color: $grey
                line-height: 17px
                margin: 0 !important

        .offer-link
            justify-content: flex-end
            display: flex
            flex-basis: 40%

@media screen and (max-width: 414px)
    .related-offer
        .another-title
            marign-bottom: 1rem !important

    .single-offer_type
        .page-title-container
            display: none
    .single-deal_content
        .deals-code-area
            justify-content: center
            height: 100%
            flex-direction: column

            .offer-link
                justify-content: center !important
                margin-top: 1rem

    .single-deals_container
        flex-direction: column

        .single-deals_image, .single-deal_content
            max-width: 100%
            flex-basis: 100%

        .single-deal_content
            padding: 1rem 0 0

    .single-deal-category
        display: none

    .single-deal-related
        display: inline-flex
        flex-wrap: wrap
        flex-direction: row
        flex: 0 1 auto
        padding: 8px
        margin-bottom: 1rem
        background: #f8f8f8
        border: 1px solid #EDEDED

        .single-deal-related_img
            -ms-flex-preferred-size: 30%
            flex-basis: 30%
            max-width: 30%

            img
                max-width: 100%

        .single-deal-related_content
            padding: 0 0 0 1rem
            -ms-flex-preferred-size: 70%
            flex-basis: 70%
            max-width: 70%

            h2.recent-post-title
                font-size: 18px

            .single-deal-related_title
                margin: 0.75rem 0 0

            .single-deal-related_offer
                font-size: 24px
                color: #E48391
                letter-spacing: 0.5px
                text-align: left
                line-height: 35px
                margin: 0

            .single-deal-related_type
                font-size: 12px
                color: #000000
                letter-spacing: 1px
                line-height: 16px
                margin: 0

            .single-deal-related_spec
                font-size: 13px
                margin: 0
                padding: 0