.press-container
	display: flex
	margin: 2rem 0
	justify-content: space-around
	height: 170px
	align-items: center

	&:first-of-type
		margin: 0 0 2rem 

.press-image
	width: 30%
	float: left

.press-content
	width: 70%
	float: left
	padding: 0 0 0 3rem 

	a
		color: $grey


