@import '../sass/base/variables'

@font-face
    font-family: 'MS-300'
    src: url('MuseoSans-300.eot'), url('MuseoSans-300.eot?#iefix') format("embedded-opentype"), url('MuseoSans-300.ttf') format("truetype"), url('MuseoSans-300.woff') format("woff"), url('MuseoSans-300.woff2') format("woff2")
    font-weight: 500
    font-style: normal

@font-face
    font-family: 'MS-500'
    src: url('MuseoSans-500.eot'), url('MuseoSans-500.eot?#iefix') format("embedded-opentype"), url('MuseoSans-500.ttf') format("truetype"), url('MuseoSans-500.woff') format("woff"), url('MuseoSans-500.woff2') format("woff2")
    font-weight: 300
    font-style: normal



@font-face
    font-family: 'MS-700'
    src: url('MuseoSans-700.eot'), url('MuseoSans-700.eot?#iefix') format("embedded-opentype"), url('MuseoSans-700.ttf') format("truetype"), url('MuseoSans-700.woff') format("woff")
    font-weight: 300
    font-style: bold

@font-face
    font-family: 'MS-300-Italic'
    src: url('../fonts/MuseoSans-300italic.eot'), url('../fonts/MuseoSans-300italic.eot?#iefix') format("embedded-opentype"), url('../fonts/MuseoSans-300italic.woff') format("woff"), url('../fonts/MuseoSans-300italic.woff2') format("woff2"), url('../fonts/MuseoSans-300italic.ttf') format("truetype"), url('../fonts/MuseoSans-300italic.svg') format("svg")
    font-weight: 300
    font-style: italic

@font-face
    font-family: 'MS-900'
    src: url('MuseoSans-900.eot'), url('MuseoSans-900.eot?#iefix') format("embedded-opentype"), url('MuseoSans-900.ttf') format("truetype"), url('MuseoSans-900.woff') format("woff"), url('MuseoSans-900.woff2') format("woff2")
    font-weight: 900
    font-style: normal


@import '../sass/components/typography'