blockquote
    margin: 0 0 1rem 0 !important
    padding: 2rem !important
    line-height: 1.6
    background: $vltq

    h1,h2,h3,h4,h5,a,p
        color: $grey

    p
        margin: 0 !important
        text-align: left
    h5
        margin: 0 0 1rem

    cite
        font-family: Cookie
        color: $body
        font-size: 18pt
        font-style: inherit
        text-align: right