.home-section
    article
        .archive-entry-container

            margin: 0 0 3rem

.archive-entry-container, .repeater-entry-container
    height: 100%
    display: flex
    margin:  0 0 3rem
    flex-flow: row wrap
    flex: 1

.archive-entry-thumbnail, .repeater-entry-thumbnail
    width: 30%
    overflow: hidden
    float: left
    white-space: nowrap
    height: 250px
    max-width: 250px

    img
        height: auto

.archive-entry-content, .repeater-entry-content
    float: left
    width: 70%
    position: relative
    height: 100%
    padding: 0px 0px 0px 35px

    .archive-title
        text-overflow: ellipsis
        white-space: nowrap
        width: 100%

        overflow: hidden
        margin: 0 0 0.5rem

    .entry-excerpt
        margin-bottom: 0.8rem
    //max-height: 110px
    //overflow: hidden

    .entry-footer, .tip-footer
        display: inline
        width: 100%
        max-width: 100%
        bottom: 0

        .btn
            display: inline-block
            float: right

    .cat-title
        span
            &:last-child
                display: none

@media screen and (max-width: 640px)
    .archive-entry-container, .repeater-entry-container

        .archive-entry-content, .repeater-entry-content
            flex-direction: column
            padding-left: 0
            width: 100%
            padding-top: 1.75rem
            padding-bottom: 1.75rem
            margin-bottom: 0
            border-bottom: 4px solid lighten($coral, 22%)

        p
            font-size: 15px
            line-height: 24px

        .archive-entry-thumbnail, .repeater-entry-thumbnail
            width: 100%
            height: auto
            max-width: none
            img
                width: 100%

        .home_latest-post_content
            width: 100%
            padding: 16px 0 0