.inner-footer
    background: $footer-bg
    padding: 3rem 0

.footer-nav_group
    display: block
    width: 100%

.footer-heading
    font-size: 14px
    margin: 0

.footer-nav
    margin: 0

    ul
        margin: 0
        padding: 0
        display: block
        li
            display: block

    a
        font-size: 11px
        color: $body
        letter-spacing: 1px
        text-transform: uppercase
        padding-bottom: 12px

        &:hover
            text-decoration: underline

.soc-footer
    list-style: none
    display: flex
    margin: 1rem auto
    justify-content: flex-start

    h4
        margin: 0 1.5rem 0 0

    li
        margin: 0 1.25rem
        &:first-child
            margin: 0 1.25rem 0 0
    a
        color: $coral
        font-size: 24px

        &:hover
            color: $tq

.footer-top
    display: block
    background: #f7dbd7
    padding: 16px 0
    margin: 0

.lead-ebook
    width: 100%
    text-align: center
    display: flex
    justify-content: space-evenly

    h5

        line-height: 1.5
        text-align: right

    a.btn
        color: #fff
        margin: 1rem 0
        text-transform: uppercase

        &:hover
            color: $body

.fw-row.branding
    height: 100%
    margin: 0 auto 0
    background: url('https://assets.thebudgetsavvybride.com/wp-content/uploads/flower-pattern.png')
    background-size: cover
    padding: 3.35rem

.copyright
    background: #171616
    font-size: 12px
    text-transform: uppercase
    text-align: center
    color: #fff
    line-height: 10px
    padding: 16px 0
    margin: 0px

    .fa-heart
        color: $coral

@media print, screen and (max-width: 1024px)

    .fw-row.branding
        display: none

    .soc-footer
        justify-content: center

        li
            margin: 0 1.25rem
            &:first-child
                margin: 0 1.25rem

    .footer-nav
        li
            margin: 0 0.5rem

    .inner-footer
        display: block
        text-align: center

        > div
            width: 100%

        nav
            margin-left: 0px

            li
                display: inline-flex

    .footer-logo
        margin: 0 auto 1rem
        height: auto
        clear: both
        display: table

@media screen and (max-width: 640px)
    .lead-ebook
        display: block

        h5
            text-align: center
            margin: 0 0 1rem

        a.btn
            margin: 0 auto

@media screen and (max-width: 414px)

    .inner-footer
        padding: 2rem 1rem
        text-align: center

        .column
            margin: 1rem 0
        .soc-footer
            justify-content: center

            li
                &:first-child
                    margin: 0 1.25rem


        .footer-heading
            margin: 0.75rem 0
            display: inline-block
            text-align: center

            &:after
                content: ''
                display: block
                height: 2px
                width: 100%
                background: $coral

    .footer-menu
        a
            padding: 0.25rem 0.5rem