
.has-header-share
    width: 100%

    transition: ease all 0.35s
    position: absolute
    left: 0
    top: -160px

    ul
        display: inline-flex

        height: 75px
        width: 100%
        list-style: none
        margin: 0
        padding: 0

        li
            z-index: 25
            display: flex
            align-items: center
            vertical-align: center
            justify-content: stretch
            height: 75px
            width: 100%

            &:nth-child(1)
                background: #3B5998
                text-align: center

            &:nth-child(2)
                background: #1DA1F2

            &:nth-child(3)
                background: #BD081C

            &:nth-child(4)
                background: $coral

            &:nth-child(5)
                background: #25D366

            a
                color: #fff
                display: inline-flex
                width: 100%
                justify-content: center
                margin: 0 auto

            h4
                text-transform: uppercase
                color: #fff
                font-size: 12px
                margin: 0
                line-height: 40px
                margin-right: 8px

            i
                font-size: 20px
                align-self: center



.has-header-share.is-open
    top: 0

.has-header-share.up
    top: -160px !important

.has-header-share.down
    top: 0 !important