//---------------------------------------------------------------------------
//
// .content-wrapper
// Assign to all pages, posts etc
//----------------------------------------------------------------------------*/

.content-wrapper
    padding-right: 0.9375rem
    padding-left: 0.9375rem
    margin: 2rem 0 1rem


//---------------------------------------------------------------------------
//
// .inner-content
// Applies to all single posts and single pages
//----------------------------------------------------------------------------*/

.inner-content, .full-page-content
    p
        margin: 0 0 2rem
        a
            font-family: "MS-700", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif
            border-bottom: 1.5px solid $coral

            &:hover
                color: $coral
    .article-content
        li
            a
                font-family: "MS-700", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif
                border-bottom: 1.5px solid $coral

                &:hover
                    color: $coral

    .wp-block-button
        margin: 0 0 2rem
        a
            font-family: "MS-700", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif

.inner-content
    padding: 0 74px 0 0px

@media screen and (min-width: 1024px) and (max-width: 1224px)

    .inner-content
        padding: 0px 16px 0 0  !important

@media screen and (max-width: 1024px)
    .inner-content
        padding: 0


