.show-overlay
    display: block !important
    opacity: 1
    transition: opacity 1s, visibility 1s

.search-container, .mc-form-container
    height: 100%
    width: 100%
    display: none
    position: fixed
    z-index: 999999999
    top: 0
    left: 0
    background-color: rgba($pale-pink, 0.8)
    transition: opacity 1s, visibility 1s

    .closebtn
        position: absolute
        top: 20px
        right: 25px
        font-size: 24px
        cursor: pointer
        color: $tq

        &:hover
            color: #ccc

    input[type=text]
        padding: 24px
        font-size: 17px
        border: none
        float: left
        width: 75%
        background: white

        &:hover
            background: #fff
            inset: 0 1px 2px rgba(10, 10, 10, 0.1)

    input[type=email]
        padding: 24px
        font-size: 17px
        border: none
        float: left
        width: 100%
        background: white

        &:hover
            background: #fff
            inset: 0 1px 2px rgba(10, 10, 10, 0.1)

    .btn-primary
        float: left
        width: 20%
        padding: 14px 24px !important
        margin-left: 1rem
        cursor: pointer
        text-transform: uppercase

.overlay-content
    position: relative
    top: 20%
    width: 50%
    text-align: center
    padding: 4rem 4rem 2rem
    margin-top: 30px
    margin: auto
    background: $vlight-grey
    border: 1px solid $light-grey


    h2
        text-align: left
        display: block


    label
        display: none

    input, .form-control
        border: 1px solid $coral !important

.mc-form-container
    text-align: center

    h1
        text-align: center

    h5
        color: $grey
        display: table
        margin: 1rem auto

    .overlay-content
        overflow: scroll
        //height: 600px
        padding: 1.5rem

    .wedding-input

.mc-field-group
    width: 100%
    display: table

#mc_embed_signup

    .datefield
        display: table
        width: 70%
        margin: 0 auto

        input
            width: 28%
            margin: 8px 10px 4px
            text-align: center

    .small
        font-size: 12px
        margin-bottom: 0 !important

@media screen and (max-width: 1440px)
    .overlay-content
        width: 80%
@media screen and (max-width: 900px)
    .overlay-content, .search-container input[type=text], .mc-form-container input[type=text],.search-container .btn-primary, .mc-form-container .btn-primary
        width: 100%
    .overlay-content
        padding: 4rem 2rem 1rem

    .search-container .btn-primary, .mc-form-container .btn-primary
        margin-left: 0
