
.off-canvas
    z-index: 10
    background: #fff
        -webkit-font-smoothing: antialiased
        -webkit-transform-origin: 0% 0%
        transform-origin: 0% 0%
        -webkit-transform: translate(100%, 0)
        transform: translate(100%, 0)
        transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
        transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out


    li
        margin-bottom: 0px !important

    [aria-expanded="true"]

        border-bottom: 3px solid $tq

        > a
            color: $grey !important
            border-bottom: 3px solid $coral

        .is-submenu-item
            background: $vlight-grey !important

    .mobile-menu
        height: 100%
        margin-top: 78px

        a
            color: $grey
            font-size: 16px
            text-transform: uppercase
            padding: 1.25rem 1rem

        .is-active
            color: $tq !important
    .is-accordion-submenu
        a
            color: $grey !important

