.page-title-container, .cat-title-container,
.shop-title-container, .search-title-container
	display: block
	margin: 0 0 3rem 0
	transition: ease all 0.25s
	position: relative

	h1,h2
		font-size: 40px
		text-transform: uppercase
		text-align: center
		width: 100%
		position: relative


.page-title-container, .cat-title-container
	height: 100%
	background: url('https://assets.thebudgetsavvybride.com/wp-content/uploads/flower-pattern.png')
		size: cover
	padding: 3.75rem

	h1,h2,p
		color: #fff

	h1,h2
		margin: 0px

	p
		width: 50%
		margin: 0 auto 0 !important
		text-align: center
		font-size: 16px


.shop-title-container
	height: 100%
	background: url('https://assets.thebudgetsavvybride.com/wp-content/uploads/flower-pattern.png')
		size: cover

	h1,h2
		padding: 5.75rem 0
		color: #fff !important
		margin: 0



