/* Pagination
 * ===============
 *
 */
.page-navigation
    margin: 3rem 0
.pagination
    text-align: center

    .current
        padding: 0.4rem 0.825rem
        background: $coral
        border: 1px solid $coral
        font-size: 18px
        color: #fff

    li
        transition: all ease 0.25s

    a
        border: 1px solid #eee
        color: $tq
        font-size: 18px
        padding: 0.3rem 0.825rem

        &:hover
            background: $tq
            border: 1px solid $tq
            color: #fff


