.related-post_wrapper
    margin: 2rem 0
    .related-post_container
        img
            margin: 0 auto
.article-footer
    //background: red
    .medium-4
        &:first-of-type
            padding-right: 0.625rem
            padding-left: 0

        &:nth-of-type(2)
            padding-right: 0.325rem
            padding-left: 0.325rem

        &:nth-of-type(3)
            padding-right: 0
            padding-left: 0.625rem


@media screen and (max-width: 640px)
    .related-post_wrapper
        .another-title
            margin: 0 0 1rem
            padding: 0

    footer.article-footer
        margin-top: 2rem
        .medium-4
            &:first-of-type
                padding-right: 0
                padding-left: 0

            &:nth-of-type(2)
                padding-right: 0
                padding-left: 0

            &:nth-of-type(3)
                padding-right: 0
                padding-left: 0
