.noUi-connect
	background: $tq !important

.product-container
	width: 33.33%
	height: 420px
	float: left
	padding: 0 0.25rem
	margin-bottom: 1rem

.product--container
	#sls-buttons
		display: flex
		padding-top: 0.5rem

		h4
			margin: 5px 16px 0 0
			text-transform: uppercase
		a
			font-size: 24px
		.fab
			margin: 0 0.5rem



.product-image
	position: relative

	&:hover
		.product--image
			opacity: 0.3

		.overlay
			opacity: 1

.product--image
	opacity: 1
	display: block
	position: relative
	width: 100%
	height: auto
	transition: .5s ease
	backface-visibility: hidden

.product--name
	text-align: center
	margin: 1rem 0 0.125rem

	&:hover
		text-transform: underline

.product---name
	margin-bottom: 0
	margin: 0.5rem 0 0 0 !important
	color: $grey

.shop--name
	text-align: center
	margin-bottom: 0px

.product--price
	color: $coral
	text-align: center
	margin-bottom: 0px

h5.shop---name
	margin: 0 !important
	text-transform: uppercase
	color: $grey

.product---price
	margin: 8px 0 0 0
	color: $grey
	text-transform: uppercase

.product---details
	
	text-transform: uppercase

	&:after
		content: ''
		display: block
		width: 100%
		height: 2px 
		background: $coral



.overlay
	transition: .5s ease
	opacity: 0
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	-ms-transform: translate(-50%, -50%)
	text-align: center

.text
	background-color: $coral
	color: white
	font-size: 16px
	padding: 16px 32px

.sort-search 
	display: table
	width: 100%
	position: relative
	padding: 1rem 0.25rem
	
	div 
		display: inline-block

	span
		line-height: 2rem

	.count
		float: left

	.per-page
		float: right
		max-width: 100px
		width: 100%
		margin-left: 1rem

	.sort
		float: right
		max-width: 130px
		width: 100%

@media screen and (min-width: 414px) and (max-width: 640px) 
	.product-container
		width: 50%
@media screen and (max-width: 414px)

	.product-container
		width: 100%
		float: left
		height: 100%
		
	.sort-search
		display: flex

		.count
			flex-flow: row

		.per-page, .sort
			flex-flow: column

@media screen and (max-width: 640px)

	.product-breadcrumb
		display: none

	.product--container 
		.columns
			padding-left: 0
			padding-right: 0
