//---------------------------------------------------------------------------
//
// Button - padding standard
// code below....
//----------------------------------------------------------------------------*/

.btn, button, .button
	padding: 8px 16px


button
	&:focus
		outline: none !important

//---------------------------------------------------------------------------
//
// Button - Turquoise - Hollow hover effect
// code below....
//----------------------------------------------------------------------------*/
.btn-tq
	background: $tq
	display: table
	color: #fff
	border: 1px solid $tq

	font-size: 14px
	line-height: 20px
	transition: ease all 0.215s

	&:hover
		background: #fff
		border: 1px solid $tq
		color: $tq

//---------------------------------------------------------------------------
//
// Button - Coral - Hollow hover effect
// code below....
//----------------------------------------------------------------------------*/
.btn-coral, .btn-primary, .fwp-load-more, #mc-embedded-subscribe
	background: $coral
	display: table
	color: #fff
	border: 1px solid $coral
	font-size: 14px
	line-height: 20px
	transition: ease all 0.215s

	&:hover
		background: #fff
		border: 1px solid $coral
		color: $coral

//---------------------------------------------------------------------------
//
// FacetWP - Load more buttons
// code below....
//----------------------------------------------------------------------------*/
.fwp-load-more
	margin: 0 auto


//---------------------------------------------------------------------------
//
// Button - go to the left
// code below....
//----------------------------------------------------------------------------*/

.btn-small-left
	padding: 8px 16px
	margin-bottom: 0.75rem !important

.btn-medium-left
	padding: 8px 16px
	font-size: 1.25rem
	line-height: 1.25rem
	margin-bottom: 0.75rem !important

.btn-large-left
	padding: 8px 16px
	font-size: 2rem
	line-height: 2rem
	margin-bottom: 0.75rem !important

/*---------------------------------------------------------------------------
//
// Button - go to the center
// code below....
//----------------------------------------------------------------------------*/



.btn-small-center,
.btn-medium-center,
.btn-large-center
	padding: 12px 24px
	font-size: 1.25rem
	line-height: 1.25rem
	margin: 1.5rem auto  !important

.wp-block-button__link
	line-height: 1.25rem

//---------------------------------------------------------------------------
//
// Button - go to the right
// code below....
//----------------------------------------------------------------------------*/

.btn-small-right
	padding: 8px 16px
	margin-bottom: 0.75rem !important
	float: right

.btn-medium-right
	padding: 8px 16px
	font-size: 1.25rem
	line-height: 1.25rem
	margin-bottom: 0.75rem !important
	float: right

.btn-large-right
	padding: 8px 16px
	font-size: 2rem
	line-height: 2rem
	margin-bottom: 0.75rem !important
	float: right

