.header
	transition: ease all 0.25s

.header-padding
	height: 75px
	display: block
	top: 0


.logo-header

	.logo-desktop
		display: flex
		width: 250px
		padding: 8px 0 0
		flex-basis: 250px
		justify-self: flex-start

.has-header
	transition: ease all 0.25s

.has-header-scroll.up
		top: -160px !important

.has-header-scroll.down
		top: 0 !important

.has-header-scroll
	width: 100%
	transition: ease all 0.45s
	position: absolute
	left: 0
	top: -160px

	ul
		display: inline-flex

		height: 75px
		width: 100%
		list-style: none
		margin: 0
		padding: 0

		li
			z-index: 23
			display: flex
			align-items: center
			vertical-align: center
			justify-content: stretch
			height: 75px
			width: 100%


			h4
				text-transform: uppercase
				color: $grey
				font-size: 12px
				margin: 0
				line-height: 40px
				margin-right: 8px

			&:nth-child(1)
				background: $coral
				text-align: center

				img
					max-width: 20px

			&:nth-child(2)
				background: $pink

				img
					max-width: 20px

			&:nth-child(3)
				background: $pale-pink

				img
					max-width: 20px
					//margin-left: 0px



			a
				margin: 0 auto
				display: inline-flex
				width: 100%
				justify-content: center
				align-self: center
				color: #fff
	.fab, .fas, .far
		line-height: 2.75


.position-right
	z-index: 10

@media screen and (max-width: 1175px)

	header.header
		height: 60px !important
		padding: 0rem 1.5rem
		.has-header
			display: flex
			align-items: center
			//justify-content: space-evenly
			width: 100%

		.logo-header
			margin-right: 2rem
			margin-left: 1rem
			display: flex


		.desktop-nav
			display: none


		.has-header-scroll, .has-header-share
			ul
				li
					height: 60px

	.header-padding
		height: 60px !important





@media screen and (max-width: 1034px)

	header.header
		nav
			li.menu-item
				> a

					//border-right: 1px solid $grey
					font-size: 13px

	.off-canvas
		width: 30% !important
		min-width: 315px !important


@media screen and (max-width: 986px)

	html

		header.header
			padding: 0 1rem
			justify-content: stretch !important

		.desktop-nav
			display: none !important

	.mobile-nav
		display: flex
		align-items: center
		justify-content: flex-end
		width: 100%
		.social-header
			font-size: 24px




	.mobile-nav, .header .has-header .mobile-icon
		display: flex



.mobile-icon
	position: relative
	display: inline-block
	vertical-align: middle
	height: 78px
	width: 55px
	cursor: pointer
	z-index: 11



// Fixed scroll menu
.logged-in .primary-nav
	top: 32px
	z-index: 999999






///---------- Main Menu Header -----------///


.header
	width: 100%
	height: 75px
	padding: 0rem 2rem
	display: flex
	flex-direction: row
	justify-content: flex-start
	border-bottom: 1px solid $vltq
	align-items: center
	top: 0px
	position: fixed
	background-color: #fff
	z-index: 20

	nav
		li
			padding: 0 0.75rem
			height: 65px

			> a
				text-transform: uppercase
				font-size: 14px
				color: $grey
				position: relative
				padding: 31px 0

				&:hover
					&:after
						content: ''
						display: block
						width: 100%
						height: 4px
						//top: 41px
						position: absolute
						bottom: 0 !important
						border: 1px solid $coral
						background: $coral

			&:last-of-type
				padding: 0 0 0 0.75rem

		.is-active
			a
				&:after
					content: ''
					display: block
					width: 100%
					height: 4px
					//top: 36px
					position: absolute
					bottom: 0 !important
					border: 1px solid $coral
					background: $coral

	.desktop-icon
		display: inline-flex
		margin: -2px 1.5rem 0 0
		padding: 0

		li
			list-style: none


		.button
			margin: 0
			padding: 0

	nav
		.is-dropdown-submenu
			background: $vlight-grey
			width: 280px
			max-width: 280px
			border: none
			text-align: center !important
			z-index: 11
			right: 0
			left: auto

			li
				a
					padding: 1rem

.has-header
	width: 100%
	max-width: 75.5rem
	margin: 0 auto
	display: inline-flex
	justify-content: space-between
	align-items: center

	.mobile-icon
		display: none


.is-dropdown-submenu
	background: $vlight-grey
	width: 300px
	max-width: 400px
	border: none
	//left: -100px !important
	text-align: center !important
	z-index: 11

.is-submenu-item
	height: inherit !important
	padding: 0
	margin: 0px

	&:hover
		background: $coral
		color: #fff !important

	a
		color: $grey !important
		padding: 1.25rem 0.5rem !important
		postion: relative

		&:after
			display: none !important

		&:hover
			color: #fff
			text-decoration: none

.is-submenu-item

	a

		text-align: center
		line-height: 32px

.is-accordion-submenu-parent > a::after
	display: block
	width: 0
	height: 0
	border: inset 6px
	content: ''
	border-bottom-width: 0
	border-top-style: solid
	border-color: $coral transparent transparent
	position: absolute
	top: 50%
	margin-top: -3px
	right: 1rem

.menu-hover
	&:hover
		&:after
			content: ''
			display: block
			height: 3px
			width: 100%
			background: #fff
			top: 15px



.top-banner-ad
	width: 100%
	background-color: #f9f9f9
	position: relative
	padding: 16px 0

	.advert-title
		color: lighten($grey, 50%)
		text-align: center
		margin: 0 0 4px
		padding: 0
		font-size: 10px
		line-height: 10px


	.banner-container
		height: 90px
		width: 728px
		background: #eee
		margin: 0 auto



//@media screen and (max-width: 414px)
//
//	header
//		.has-header
//			.social-header
//				&:nth-child(1)
//					&:before
//						content: 'Follow'
//						display: block
//						color: $grey
//						font-size: 12px
//						margin-top: 12px
//						margin-right: 10px
//
//				a
//					padding: 0.7rem 0.5rem
//
//		.has-header-scroll ul li h4
//
//			font-size: 11px
//
//	.off-canvas-content
//
//		.top-banner-ad
//			margin-top: 60px
//			top: 0
//			padding: 4px 16px 16px
//
//		.banner-container
//			max-width: 100%
//			width: 100%
