.s-btn

    display: inline
    list-style: none

    li
        display: inline-flex

    a
        color: $coral
        font-size: 22px

        &:hover
            color: $tq
.sbsb
    list-style: none
    margin: 0 0 2rem
    width: 100%
    display: flex
    justify-content: space-evenly
    flex: 1

    li
        display: flex
        justify-content: stretch
    a
        color: $coral
        font-size: 22px
        margin: 0 0.5rem


