::-moz-selection
    color: #fff
    background: $coral

::selection
    color: $body
    background: $vltq


body,
p,
li,
h5.shop---name

    font-family: "MS-300", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif


.savvy-ms-300
	i
		font-family: "MS-300-Italic", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif


h2.recent-post-title,
h2,
h3,
h4,
h5,
h6,
a,
.archive-title a,
.post-author a,
.post-author p,
.widgettitle,
.read-more,
.category-text p,
.copyright,
.page-title-container p,
.cat-title-container p,
.primary-nav nav li > a,
.shop-cats li a
    font-family: "MS-500", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif

strong,
.blog-content p a
	font-family: "MS-700", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif

h1,
.blog-content a,
h1.hero-title,
.title-coral,
.another-title,
.home-section_title,
.round-circle-wbb h2,
.pbg,
.offer-category-title,
.category-title,
.title,

.fw-row.read-insta h1 a,
.fw-row.read-unknown h1 a,
.fw-row.read-blog h1 a,
.feature-label h2,
.post-category p,
.category-text h1,
.soc-footer h4,
.page-title-container h2,
.cat-title-container h2,
.shop-title-container h2,
.search-title-container h2,
.btn-tq,
.btn-coral,
.btn-primary,
.fwp-load-more,
#mc-embedded-subscribe,
.the-deal h2,
.press-content a,
.product--price,
.product---price,
.product---details,
.shop-cat-title h4,
.deal-type_title,
.deal-offer_title,
h3.single-deal-related_offer,
h5.single-deal-related_type
	font-family: "MS-900", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif



html
	.fab
    	font-family: "Font Awesome 5 Brands"

	.fa, .far, .fas
		font-family: "Font Awesome 5 Free"
h1
	font-size: 40px
	line-height: 1.4
	color: $body
	text-transform: uppercase
	letter-spacing: 0.05rem
	font-weight: inherit

	a
		font-size: 40px
		line-height: 1.4
		color: $grey

//h1.hero-title
//
//	font-size: 28px
//	color: $body
//	text-transform: uppercase
//	margin: 0 0 1rem

//h2.recent-post-title
//	font-size: 20px
//	color: $body
//
//	margin: 0
//
//	a
//		color: $grey

h2
	font-size: 24px
	color: $body
	margin: 2rem 0 1rem
	font-weight: inherit

	a
		font-family: "MS-700", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif

		&:hover
			text-decoration: underline
			color: $coral

h2.recent-post-title
	margin: 0 0 1rem
	font-size: 18px
h3
	font-size: 20px
	color: $body
	letter-spacing: 0
	text-align: left
	line-height: 35px
	margin:  0 0 1rem
	font-weight: inherit

	a
		font-family: "MS-700", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif

		&:hover
			text-decoration: underline
			color: $coral

h4
	font-size: 20px
	color: $body
	letter-spacing: 0.9px
	line-height: 24px
	text-transform: uppercase
	margin: 0 0 1rem
	font-weight: inherit


	a
		font-family: "MS-700", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif
		color: $coral

		&:hover
			text-decoration: underline
			color: $coral


	strong
		font-family: "MS-900", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif
		font-size: 20px
		color: #000000
		letter-spacing: 1.11px
		line-height: 24px

h5
	font-size: 16px
	color: $body
	letter-spacing: 0.9px
	line-height: 24px
	text-transform: uppercase
	margin: 1.5rem 0 1rem

	a
		font-family: "MS-700", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif

		&:hover
			text-decoration: underline
			color: $coral

	strong
		font-family: "MS-900", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif


h6
	font-size: 12px
	color: $body
	letter-spacing: 0.9px
	line-height: 24px
	text-transform: uppercase
	margin: 1.5rem 0 1rem


	a
		font-family: "MS-700", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif

		&:hover
			text-decoration: underline
			color: $coral


	strong
		font-family: "MS-700", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif






h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white
	color: #fff

h1,
h2,
h3,
h4,
h5
	a
		font-family: "MS-700", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif
		text-decoration: none


@media screen and (max-width: 414px)
	html
		h2
			margin: 0 0 0.25rem
		h2, .deal-content .deal-title h2
			font-size: 24px

		.deal-content .deal-title h2

			margin: 0.5rem 0 0.125rem
body
	font-size: 15px
	color: $body
	line-height: 24px


p
	text-align: justify
	font-size: 16px
	color: $light-body
	letter-spacing: 0
	line-height: 28px
	margin-bottom: 1.5rem


li
	font-size: 15px
	color: $body
	letter-spacing: 0
	line-height: 28px
	margin-bottom: 1rem

a
	color: $body
	//letter-spacing: 0.05rem
	cursor: pointer
	text-decoration: none
	transition: all ease 0.25s

	&:hover
		color: $tq
		text-decoration: none

	&:focus
		color: $coral



//h5.hero-lead-title
//	margin: 0.5rem 0 0.75rem

h5.cat-title
	color: $coral

a.cat-title-link
		margin: 0.35rem 0 0 0
		font-size: 13px
		color: $coral !important
		text-decoration: none !important




.wedding-by-budget

	margin: 3rem 0
	.row
		text-align: center

.round-circle-wbb
	display: inline-block
	background: $tq
	width: 18%
	padding: 28px 8px 41px
	border-radius: 50%
	margin: 4px

	&:hover
		background: $ltq

		h2,p
			color: $tq

	h2, p
		color: #fff
		text-align: center

	h2
		font-size: 30px
		margin: 8px 0 0

	p
		margin: 0 !important

.round-circle-wbc
	display: inline-flex
	width: 71px
	height: 71px
	border-radius: 50%
	margin: 4px

	&:hover
		opacity: 0.4




.pbg
	padding: 8px
	font-weight: bold


.page-title
	text-align: left

.archive-title
	font-size: 24px
	a
		color: $body

.post-author
	a,p
		font-size: 16px
		color: $body
		line-height: 24px



.widgettitle
	font-size: 16px
	color: #707070
	letter-spacing: 1px
	text-align: center
	line-height: 24px
	margin: 2.5rem 0 0.75rem

	&:first-of-type
		margin: 0 0 0.75rem

//.offer-category-title, .category-title, .title
//	font-size: 32px
//	//width: 100%
//	text-transform: uppercase
//	color: $grey
//	padding: 16px 0px
//	margin-bottom: 1rem
//	min-height: 100%
//	display: inline-block
//
//
//	&:first-child
//		padding: 0px 0px 16px 0


.title-coral

	font-size: 40px
	width: 100%
	text-transform: uppercase
	color: $coral
	padding: 16px 0px
	margin-bottom: 2rem
	min-height: 100%
	display: flex
	flex-direction: column


	&:first-child
		padding: 0px 0px 16px 0

	&:after
		content: ''
		display: block
		width: 100%
		height: 3px
		background: $coral

//.h1bg, .h2bg, .h3bg, .h4bg, .h5bg, .pbg
//
//	color: $body
//
//	&:after
//		content: ''
//		display: block
//		width: 100%
//		height: 3px
//		background: $tq

hr
	clear: both
	max-width: 75rem
	height: 0
	margin: 3.25rem auto
	border-top: 0
	border-right: 0
	border-bottom: 1px solid $ltq
	border-left: 0








//*---------------------------------------------------------------------------//
//
// Hover for all Font Awesome icons
// code below....
//----------------------------------------------------------------------------*//

.sbsb, .post-ss
    a
        color: $coral
        font-size: 22px
        margin: 0 0.5rem

        &:hover
            color: $tq


.wp-caption
	max-width: 100%
	/* Image does not overflow the content area */
	padding: 5px 0px 10px
	text-align: center
	&.alignnone, &.alignleft
		margin: 5px 0px 20px 0
	&.alignright
		margin: 5px 0 20px 0px

article .wp-caption img
	border: 0 none
	height: auto
	margin: 0 0 0.5rem !important
	padding: 0
	width: auto

.wp-caption p.wp-caption-text
	font-size: 12px
	line-height: 17px
	margin-bottom: 0rem !important
	padding: 0 0px 5px



.another-title
    text-transform: uppercase
    margin: 0rem 0.8rem 0.75rem
    font-size: 24px
    display: table

    &:after
        content: ''
        display: block
        height: 3px
        width: 100%
        background: $coral