/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */
/* Colors */
@font-face {
  font-family: 'MS-300';
  src: url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-300.eot");
  src: url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-300.eot?#iefix") format("embedded-opentype"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-300.woff") format("woff"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-300.woff2") format("woff2"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-300.ttf") format("truetype"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-300.svgMuseoSans-300") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'MS-300-Italic';
  src: url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-300italic.eot");
  src: url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-300italic.eot?#iefix") format("embedded-opentype"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-300italic.woff") format("woff"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-300italic.woff2") format("woff2"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-300italic.ttf") format("truetype"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-300italic.svgMuseoSans-300italic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'MS-500';
  src: url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-500.eot");
  src: url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-500.eot?#iefix") format("embedded-opentype"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-500.woff") format("woff"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-500.woff2") format("woff2"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-500.ttf") format("truetype"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-500.svgMuseoSans-500") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'MS-500-Italic';
  src: url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-500italic.eot");
  src: url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-500italic.eot?#iefix") format("embedded-opentype"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-500italic.woff") format("woff"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-500italic.woff2") format("woff2"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-500italic.ttf") format("truetype"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-500italic.svgMuseoSans-500italic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'MS-900';
  src: url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-900.eot");
  src: url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-900.eot?#iefix") format("embedded-opentype"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-900.woff") format("woff"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-900.woff2") format("woff2"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-900.ttf") format("truetype"), url("https://assets.thebudgetsavvybride.com/fonts/MuseoSans-900.svgMuseoSans-900") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: auto; }

::-moz-selection {
  color: #fff;
  background: #F37D90; }

::selection {
  color: #060606;
  background: #e4f5f4; }

.savvy-ms-300 body,
.savvy-ms-300 p,
.savvy-ms-300 li,
.savvy-ms-300 h5.shop---name {
  font-family: "MS-300", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif; }

.savvy-ms-300 i {
  font-family: "MS-300-Italic", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif; }

.savvy-ms-500 h2.recent-post-title,
.savvy-ms-500 h2,
.savvy-ms-500 h3,
.savvy-ms-500 h4,
.savvy-ms-500 h5,
.savvy-ms-500 a,
.savvy-ms-500 .archive-title a,
.savvy-ms-500 .post-author a,
.savvy-ms-500 .post-author p,
.savvy-ms-500 .widgettitle,
.savvy-ms-500 .read-more,
.savvy-ms-500 .category-text p,
.savvy-ms-500 .copyright,
.savvy-ms-500 .page-title-container p,
.savvy-ms-500 .cat-title-container p,
.savvy-ms-500 .primary-nav nav li > a,
.savvy-ms-500 .shop-cats li a {
  font-family: "MS-500", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif; }

.savvy-ms-900 h1,
.savvy-ms-900 .blog-content a,
.savvy-ms-900 h1.hero-title,
.savvy-ms-900 .title-coral,
.savvy-ms-900 .another-title,
.savvy-ms-900 .home-section_title,
.savvy-ms-900 .round-circle-wbb h2,
.savvy-ms-900 .pbg,
.savvy-ms-900 .offer-category-title,
.savvy-ms-900 .category-title,
.savvy-ms-900 .title,
.savvy-ms-900 strong,
.savvy-ms-900 .fw-row.read-insta h1 a,
.savvy-ms-900 .fw-row.read-unknown h1 a,
.savvy-ms-900 .fw-row.read-blog h1 a,
.savvy-ms-900 .feature-label h2,
.savvy-ms-900 .post-category p,
.savvy-ms-900 .category-text h1,
.savvy-ms-900 .soc-footer h4,
.savvy-ms-900 .page-title-container h2,
.savvy-ms-900 .cat-title-container h2,
.savvy-ms-900 .shop-title-container h2,
.savvy-ms-900 .search-title-container h2,
.savvy-ms-900 .btn-tq,
.savvy-ms-900 .btn-coral,
.savvy-ms-900 .btn-primary,
.savvy-ms-900 .fwp-load-more,
.savvy-ms-900 #mc-embedded-subscribe,
.savvy-ms-900 .the-deal h2,
.savvy-ms-900 .press-content a,
.savvy-ms-900 .product--price,
.savvy-ms-900 .product---price,
.savvy-ms-900 .product---details,
.savvy-ms-900 .shop-cat-title h4,
.savvy-ms-900 .deal-type_title,
.savvy-ms-900 .deal-offer_title,
.savvy-ms-900 h3.single-deal-related_offer,
.savvy-ms-900 h5.single-deal-related_type {
  font-family: "MS-900", -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif; }

html .fab {
  font-family: "Font Awesome 5 Brands"; }

html .fa, html .far, html .fas {
  font-family: "Font Awesome 5 Free"; }

h1 {
  font-size: 40px;
  line-height: 1.4;
  color: #060606;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: inherit; }
  h1 a {
    font-size: 40px;
    color: #70C2CA; }

h1.hero-title {
  font-size: 28px;
  color: #060606;
  text-transform: uppercase;
  margin: 0 0 1rem; }

h2.recent-post-title {
  font-size: 20px;
  color: #060606;
  margin: 0; }
  h2.recent-post-title a {
    color: #060606; }

h2 {
  font-size: 22px;
  color: #060606;
  margin: 0 0 1.25rem;
  font-weight: inherit; }

h3 {
  font-size: 20px;
  color: #060606;
  letter-spacing: 0;
  text-align: left;
  line-height: 35px;
  letter-spacing: 0.05rem;
  margin: 1rem 0 0;
  font-weight: inherit; }

h4 {
  font-size: 18px;
  color: #060606;
  letter-spacing: 0.9px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 1.5rem 0 1rem;
  font-weight: inherit; }

h5 {
  font-size: 16px;
  color: #060606;
  letter-spacing: 0.9px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 1.5rem 0 1rem; }

@media screen and (max-width: 414px) {
  html h2 {
    margin: 0 0 0.25rem; }
  html h2, html .deal-content .deal-title h2 {
    font-size: 24px; }
  html .deal-content .deal-title h2 {
    margin: 0.5rem 0 0.125rem; } }

body {
  font-size: 15px;
  color: #060606;
  line-height: 24px; }

p {
  text-align: justify;
  font-size: 16px;
  color: #060606;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 1.5rem; }

li {
  font-size: 15px;
  color: #060606;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: 1rem; }

a {
  color: #060606;
  cursor: pointer;
  text-decoration: none;
  transition: all ease 0.25s; }
  a:hover {
    color: #70C2CA;
    text-decoration: none; }
  a:focus {
    color: #F37D90; }

h5.hero-lead-title {
  margin: 0.5rem 0 0.75rem; }

h5.cat-title, h5.hero-lead-title {
  color: #F37D90; }

a.cat-title-link {
  margin: 0.35rem 0 0 0;
  font-size: 13px;
  color: #F37D90 !important; }

p.round-circle {
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  background: #70C2CA;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  margin: 1rem auto; }

h1.round-circle, h2.round-circle, h3.round-circle, h4.round-circle, h5.round-circle {
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  background: #70C2CA;
  color: #fff;
  font-weight: bold;
  margin: 1rem auto; }

span.round-circle {
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  background: #70C2CA;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  margin: 1rem auto; }

.wedding-by-budget {
  margin: 3rem 0; }
  .wedding-by-budget .row {
    text-align: center; }

.round-circle-wbb {
  display: inline-block;
  background: #70C2CA;
  width: 18%;
  padding: 28px 8px 41px;
  border-radius: 50%;
  margin: 4px; }
  .round-circle-wbb:hover {
    background: #DCECED; }
    .round-circle-wbb:hover h2, .round-circle-wbb:hover p {
      color: #70C2CA; }
  .round-circle-wbb h2, .round-circle-wbb p {
    color: #fff;
    text-align: center; }
  .round-circle-wbb h2 {
    font-size: 30px;
    margin: 8px 0 0; }
  .round-circle-wbb p {
    margin: 0 !important; }

.round-circle-wbc {
  display: inline-flex;
  width: 71px;
  height: 71px;
  border-radius: 50%;
  margin: 4px; }
  .round-circle-wbc:hover {
    opacity: 0.4; }

.pbg {
  padding: 8px;
  font-weight: bold; }

.page-title {
  text-align: left; }

.archive-title {
  font-size: 24px; }
  .archive-title a {
    color: #060606; }

.post-author a, .post-author p {
  font-size: 16px;
  color: #060606;
  line-height: 24px; }

.widgettitle {
  font-size: 16px;
  color: #707070;
  letter-spacing: 1px;
  text-align: center;
  line-height: 24px;
  margin: 2.5rem 0 0.75rem; }
  .widgettitle:first-of-type {
    margin: 0 0 0.75rem; }

.offer-category-title, .category-title, .title {
  font-size: 32px;
  text-transform: uppercase;
  color: #060606;
  padding: 16px 0px;
  margin-bottom: 1rem;
  min-height: 100%;
  display: inline-block; }
  .offer-category-title:first-child, .category-title:first-child, .title:first-child {
    padding: 0px 0px 16px 0; }
  .offer-category-title:after, .category-title:after, .title:after {
    content: '';
    display: flex;
    max-width: 100%;
    height: 2px;
    background: #70C2CA; }

.title-coral {
  font-size: 40px;
  width: 100%;
  text-transform: uppercase;
  color: #F37D90;
  padding: 16px 0px;
  margin-bottom: 2rem;
  min-height: 100%;
  display: flex;
  flex-direction: column; }
  .title-coral:first-child {
    padding: 0px 0px 16px 0; }
  .title-coral:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #F37D90; }

.h1bg, .h2bg, .h3bg, .h4bg, .h5bg, .pbg {
  color: #060606; }
  .h1bg:after, .h2bg:after, .h3bg:after, .h4bg:after, .h5bg:after, .pbg:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: #70C2CA; }

hr {
  clear: both;
  max-width: 75rem;
  height: 0;
  margin: 3.25rem auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #DCECED;
  border-left: 0; }

blockquote {
  margin: 1rem 0 !important;
  padding: 2rem !important;
  line-height: 1.6;
  background: #e4f5f4; }
  blockquote h1, blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote a, blockquote p {
    color: #060606; }
  blockquote p {
    margin: 0 !important;
    text-align: left; }

.sbsb a, .post-ss a {
  color: #F37D90;
  font-size: 22px;
  margin: 0 0.5rem; }
  .sbsb a:hover, .post-ss a:hover {
    color: #70C2CA; }

.wp-caption {
  max-width: 100%;
  /* Image does not overflow the content area */
  padding: 5px 0px 10px;
  text-align: center; }
  .wp-caption.alignnone, .wp-caption.alignleft {
    margin: 5px 0px 20px 0; }
  .wp-caption.alignright {
    margin: 5px 0 20px 0px; }

article .wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0 0 0.5rem !important;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 0rem !important;
  padding: 0 0px 5px; }

.home-section_title, .another-title {
  text-transform: uppercase;
  margin: 0rem 0.8rem 0.75rem;
  font-size: 24px;
  display: table; }
  .home-section_title:after, .another-title:after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: #F37D90; }
