.single
	.large-1
		padding-left: 0
		padding-right: 0
		max-width: 60px
	article
		img
			margin: 0.75rem auto 0.75rem

//---------------------------------------------------------------------------
//
// Remove the padding from all pages that are fullwidth.
// This was a clash with the padding-right (48px) with pages that have sidebar.
// code below....
//----------------------------------------------------------------------------*/

main.large-12
	padding: 0 !important

//---------------------------------------------------------------------------
//
// Remove the padding on the sidebar - making content 300px width, required for ads.
// code below....
//----------------------------------------------------------------------------*/

.sidebar.column
	padding-left: 0 !important
	padding-right: 0 !important

@media screen and (min-width: 768px)
	.single
		.content
			//top: 100px
			position: relative



@media screen and (max-width: 1024px)

	main.large-9
		padding: 0

