//*---------------------------------------------------------------------------//
//
// iFrame restriction
//
//----------------------------------------------------------------------------*//

iframe

	max-width: 100%

//*---------------------------------------------------------------------------//
//
// Makes adjustment for the Wordpress admin banner
//
//----------------------------------------------------------------------------*//
.logged-in .header
    margin-top: 32px

//*---------------------------------------------------------------------------//
//
// Hover effect on images that are a link <a> > <img>
//----------------------------------------------------------------------------*//
a
	img
		transition: ease all 0.25s
		&:hover
			opacity: 0.7

//*---------------------------------------------------------------------------//
//
//Smmoth scrolling function
//----------------------------------------------------------------------------*//
html
	scroll-behavior: smooth


//*---------------------------------------------------------------------------//
//
// Wedding by season
// code below....
//----------------------------------------------------------------------------*//
.season-container
	display: table
	margin: 2rem 0 0

#season-wedding
	.btn
		margin: 1rem auto 3rem !important

///---------------------------------------------------------------------------
//
//WP image alignement
//code below....
//----------------------------------------------------------------------------*/
img
	&.alignright
		float: right
		margin: 0 0 1em 1em
	&.alignleft
		float: left
		margin: 0 1em 1em 0
	&.aligncenter
		display: block
		margin-left: auto
		margin-right: auto

.alignright
	float: right

.alignleft
	float: left

.aligncenter
	display: block
	margin-left: auto
	margin-right: auto

//---------------------------------------------------------------------------
//
// Dropdown on the offers/deals page
// code below....
//----------------------------------------------------------------------------*/
.dropdown-content_map
	margin-top: 0px !important

//---------------------------------------------------------------------------
//
// Column shortcode plugin.
// code below....
//----------------------------------------------------------------------------*/
.full_width, .one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth
	float: left
	padding: 8px 0

.clear_column
	clear: both
	display: block
	font-size: 0
	height: 0
	line-height: 0
	width: 100%
	overflow: hidden


.full_width
	width: 100%

.one_half
	width: 50%

.one_third
	width: 33.3%

.two_third
	width: 66.6%

.one_fourth
	width: 25%

.three_fourth
	width: 75%

.one_fifth
	width: 20%

.two_fifth
	width: 40%

.three_fifth
	width: 60%

.four_fifth
	width: 80%

.one_sixth
	width: 16.6%

.five_sixth
	width: 83.4%

.grey-underline
	border-bottom: 1px solid #979797


.off-canvas-wrapper
	overflow: inherit !important


